@charset "UTF-8";

body{
    background-image: url(img/fundo.jpg);
    background-color: black;
    background-repeat: no-repeat;
}

div{
    text-align: center;
    padding: 20px;
}

h1{
    color: white;
    font-size: 40px
}

p{
    color: white;
    font-size: 20px;
}

input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

.mensagem {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
}